extends base.pug

block scripts
    script(src='/static/index.js')
block style 
    style
      include ../static/style.css
      include ../static/styleabout.css

block content 
    div.container
        h1 About our success 
        p We started our dance academy in the year 2018, since then we just kept working hard to stablish our institue.
        | but now the position where our dance academy stands is unbelivable even for us. we always hope for the best.
        
        