//- page-a.pug
extends base.pug

block scripts
    script(src='/static/index.js')
block style 
    style
      include ../static/style.css

block content 
    

    section#intro 
        div Welcome to our dance academy
        div.small Dance & Dance
    section#mission
      h2 Our Mission
      div.card
        h3 street dance
        div.card-box 
          div.card-img
            img(src="/static/logo2.png", alt="image")
          div.card-content
            p this is the best dance academy in the country

      div.card
        h3 free style moves
        div.card-box 
          div.card-img
            img(src="/static/logo3.png", alt="image")
          div.card-content
            p this is the best dance academy in the country

      div.card
        h3 best tutors
        div.card-box 
          div.card-img
            img(src="/static/logo1.png", alt="image")
          div.card-content
            p this is the best dance academy in the country

    section#sponsor 
        h2 Our Sponsors
        div#sponsors
          img(src="/static/Dominos.png", alt="our sponsor img", class="spimg")
          img(src="/static/Swiggy.png", alt="our sponsor img", class="spimg")
          img(src="/static/zomato.png", alt="our sponsor img", class="spimg")
          img(src="/static/KFC.png", alt="our sponsor img", class="spimg")
    footer#footer 
        | copyright © 2018-2021 NationalDanceAcademy.com | All rights reserved
    script
      include ../static/index.js